HTML CSS Result Skip Results Iframe
html {
  
}

body {
font-family: sans-serif;
line-height: 26px;
color: #36096d;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #36096d 50%, #FFF 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  padding: 1px;
  text-align:center;
}

h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

.half{
  width: 50%;
  float: left;
}
.halfi{
  width: 80%;
  padding-left: 25px;
}
<!-- Styles for work stuff -->

.wcontent {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  padding: 1px;
  text-align:center;
}

.Whalf{
  width: 100%;
  float: left;
  }
  
.Whalfi{
  width: 300px;
  padding-right: ;
}

.primary-btn2{
				background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);
  		color: #a40606;
  		text-decoration: none;
  		border-radius: 20px;
  		padding: 13px 42px 13px 42px;
}
<!-- Styles for work stuff -->
.blue {
color: #a40606;
}
.primary-btn{
				background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);
  		color: #a40606;
  		text-decoration: none;
  		border-radius: 20px;
  	 padding: 13px 42px 13px 42px;
}
	h1{
	  font-size: 2.4em;
}
.box{
  padding-left: 5%;
  display: inline-block;
}